/* 40x28mm sticker */
.sticker {
    font-family: Helvetica, Arial;
    font-size: 7pt;
    padding: 1mm;
    /*
    Total width:  38mm + 2x1mm (padding) = 40mm
    Total height: 26mm + 2x1mm (padding) = 28mm
    */
    width: 38mm;
    min-width: 38mm;
    max-width: 38mm;
    height: 26mm;
    min-height: 26mm;
    max-height: 26mm;
    text-align: center;
}

.sticker .left   { text-align: left; }
.sticker .right  { text-align: right; }
.sticker .center { text-align: center; }

.sticker .error {
    color: red;
    font-size: 8pt;
    z-index: 1000;
}

.sticker .barcode {
    margin: 0 auto;
    padding: 1mm 0 !important;
    text-align: center;
}

.sticker .hazardous {
    color: red;
    font-weight:bold;
}

.sticker .estimated{
    vertical-align:super;
    font-size: 80%;
}

.sticker .sample-info table {
    border-collapse: collapse;
    margin: 1px 1px 1px 1px;
    width: 100%;
}
.sticker .sample-info table td:first-child {
    padding: 0 0 0 3px;
}
.sticker .sample-info table td:last-child {
    padding: 0 3px;
}

.sticker .sample-id {
    font-weight:bold;
}
@media print {
    @page {
        size:  40mm 28mm !important;
        margin: 0mm !important;
    }
    html, body {
        width: 40mm !important;
        height: 28mm !important;
        margin: 0mm !important;
    }
}
